html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#OrdenCreadaToast {
    transform: translateX(150%);
    transition: transform .4s ease-in-out;
}

#OrdenCreadaToast.show {
    transform: translateX(0);
}

.toast-slide {
    transform: translateX(150%);
    transition: transform .4s ease-in-out;
}

.toast-slide.show {
    transform: translateX(0);
}

.body-gradient {
    background: linear-gradient(135deg, rgb(35, 74, 143), rgb(216, 104, 99), rgb(233, 236, 239), rgb(35, 74, 143) );
    background-size: 400% 400%;
    animation: gradientMove 14s ease infinite;
    min-height: 100vh;
    background-attachment: fixed;
}

/* Animación suave del gradiente */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}