@model MaintenenceSystem.Models.Empleados

<div class="modal fade" id="CreateEmpleadosModal" tabindex="-1" aria-labelledby="CreateEmpleadosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="CreateEmpleadosModalLabel">Nuevo Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form id="CreateEmpleadoForm" method="post" asp-controller="Empleados" asp-action="Create">
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    @if (ViewBag.ErrorEmpleado != null)
                    {
                        <div class="alert alert-danger text-center fw-semibold">
                            @ViewBag.ErrorEmpleado
                        </div>

                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                var modal = new bootstrap.Modal(document.getElementById('CreateEmpleadosModal'));
                                modal.show();
                            });
                        </script>
                    }

                    <div class="mb-3">
                        <label class="form-label">Numero del Empleado</label>
                        <input type="number" name="NumeroEmpleado" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nombre del Empleado</label>
                        <input type="text" name="NombreEmpleado" class="form-control" required />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success rounded-pill">Guardar</button>
                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>